@model IEnumerable<Martinez.Models.Articulos>

@{
    ViewBag.Title = "Index";
}

<center><h2>Articulos</h2></center>
<br />
<p style="width:20%;">
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-primary btn-lg btn-block", })
</p>
<table class="table jumbotron" style="background-color:#EFF5FB; color: #000000">
    <tr class="bg-dark" style="color: #fff">

        <th>
            @Html.DisplayNameFor(model => model.Articulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UltimaCompra)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Articulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimaCompra)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdArticulo }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdArticulo }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdArticulo }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
