@model IEnumerable<Martinez.Models.Proyectos>

@{
    ViewBag.Title = "Index";
}

<center><h2>Proyectos</h2></center>
<br />
<p style="width:20%;">
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-primary btn-lg btn-block", })
</p>
<table class="table jumbotron" style="background-color:#EFF5FB; color: #000000">
    <tr class="bg-dark">
        <th>
            @Html.DisplayNameFor(model => model.Proyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rentabilidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Terminado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Proyecto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rentabilidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Terminado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdProyecto }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.IdProyecto }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdProyecto }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
