@model Martinez.Models.Abonos

@{
    ViewBag.Title = "Delete";
}

<style>
    .row {
        width: 100%;
    }

    .col-sm-3 {
        display: inline-flex;
    }

        .col-sm-3 .jumbotron {
            font-size: 85%;
            width: 100%;
        }
</style>


<div class="row">
    <div class="col-sm-3">
        <dl class="dl-horizontal jumbotron" style="background-color: #EFF5FB; color: #000000">
            <h4>Eliminar Informacion de Bonos</h4>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Trabajos.Trabajo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trabajos.Trabajo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Abono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Abono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaAbono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaAbono)
            </dd>

        </dl>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info" })
            </div>
        }
    </div>
