@model Martinez.Models.Abonos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Abonos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trabajos.Trabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trabajos.Trabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAbono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAbono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAbono }) |
    @Html.ActionLink("Back to List", "Index")
</p>
