@model IEnumerable<Martinez.Models.Abonos>

@{
    ViewBag.Title = "Index";
}


<center><h2>Abonos</h2></center>
<p style="width:20%;">
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-primary btn-lg btn-block", })
</p>
<table class="table jumbotron" style="background-color: #2C3E50; color: #fff;">
    <tr class="bg-dark">
        <th>
            @Html.DisplayNameFor(model => model.Trabajos.Trabajo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAbono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Trabajos.Trabajo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAbono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAbono }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAbono }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAbono }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
