@model Martinez.Models.Clientes

@{
    ViewBag.Title = "Delete";
}
<style>
    .row {
        width: 100%;
    }

    .col-sm-3 {
        display: inline-flex;
    }

        .col-sm-3 .jumbotron {
            font-size: 85%;
            width: 100%;
        }
</style>

<div class="row">
    <div class="col-sm-3">
        <dl class="dl-horizontal jumbotron" style="background:#EFF5FB; color: #000000">
            <h4>Eliminar Cliente</h4>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Cliente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cliente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DUI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DUI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NIT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NIT)
            </dd>

     
  
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info" })
            </div>
        }
    </div>
