@model Martinez.Models.Clientes

@{
    ViewBag.Title = "Details";
}


<style>
    .row {
        width: 100%;
    }

    .col-sm-3 {
        display: inline-flex;
    }

        .col-sm-3 .jumbotron {
            font-size: 85%;
            width: 100%;
        }
</style>

<div class="row">
    <div class="col-sm-3">
        <dl class="dl-horizontal jumbotron" style="background-color: #EFF5FB; color: #000000">
            <h4>Informacion de Cliente</h4>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Cliente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cliente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DUI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DUI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NIT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NIT)
            </dd>

        </dl>
    </div>
    <hr />
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.IdCliente }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info" })
    </p>
