@model IEnumerable<Martinez.Models.Usuarios>

@{
    ViewBag.Title = "Index";
}

<center><h2>Usuarios</h2></center>
<br />
<p style="width:20%;">
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-primary btn-lg btn-block", })
</p>
<table class="table jumbotron" style="background-color: #2C3E50; color: #fff;">
    <tr class="bg-dark">
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rol.Rol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.ActionLink("Edit", "Editar", new { id = item.IdUsuario }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdUsuario }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdUsuario })
            </td>
        </tr>
    }

</table>
