@model IEnumerable<Martinez.Models.Estados>

@{
    ViewBag.Title = "Index";
}

<center><h2>Estado</h2></center>
<br />
<p style="width:20%;">
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-primary btn-lg btn-block", })
</p>
<table class="table jumbotron" style="background-color: #2C3E50; color: #fff;">
    <tr class="bg-dark">
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdEstado }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.IdEstado }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdEstado }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
